@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,300&display=swap');

:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

#navbar {
    position: fixed;
    top: 0;
    height: 70px;
    background-color: var(--main-red);
    width: 100%;
    color: var(--main-white);
    display: flex;
    justify-content: flex-end;

}

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 300px;
    padding-right: 20px;
}

li {
    list-style-type: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

li:hover {
    background-color: var(--main-blue);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--main-white);
    font-weight: 900;
    font-size: 1.4rem;
}

#central {
    padding: 0;
    margin: 0;
    height: 100vh;
    /*display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;*/
}


#welcome-section {
    background: var(--main-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    flex-flow: column;
}

.welcome-text b {
    font-size: 5rem;
    font-weight: 900;
    color: var(--main-white);
}

#welcome-section p {
    font-style: italic;
    font-size: 1.9rem;
    color: var(--main-red);
}

#projects {
    display: flex;
    background: var(--main-blue);
    height: 100vh;
    padding: 0;
    margin: 0;
}

article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

#works {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: 70%;
    height: 70%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color: var(--main-gray) var(--main-red) ;
    gap: 20px;
    padding: 20px;

}

.projects {
    scrollbar-color: violet;
}

.project-text h1 {
    font-size: 2.6rem;
    color:var(--main-white);
    border-bottom: 2px solid white;
}

.project-tile {
    width: 430px;
    height: 370px;
    padding: 10px;
}

.show-all {
    width: 150px;
    height: 50px;
    background: var(--main-gray);
    color: var(--main-white);
    border: none;
    font-size: 1.3rem;
}

.show-all:hover {
    transform: scale(1.1);
    background: var(--main-red);
    cursor: pointer;
}

.show-all::after {
    content: " >";
    font-weight: 900;
}

.caption {
    text-align: center;
    background: var(--main-gray);
    color: var(--main-white);
    height: 40px;
    width: 98%;
    font-size: 1.5rem;

}

.caption:hover {
    cursor: pointer;
}

.caption:hover::before {
    content: "< ";
    color: var(--main-red);
    font-weight: 900;
    font-size: 1.6rem;
}

.caption:hover::after {
    content: " />";
    color: var(--main-red);
    font-weight: 900;
    font-size: 1.4rem;
}

/* footer - contact section */

.foo {
    height: 100vh;
    background-color: var(--main-gray);
    color: var(--main-white);
    padding: 0;
    margin: 0;
    border: none;
}

.work-together {
    height: 80vh;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.lets-work {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;

}
.lets-work h2 {
    font-size: 4rem;
    font-weight: 900;
    /*transition: font-size 2s;*/

}

/*
.lets-work h2:hover {
    font-size: 7rem;
}*/

#contact-info {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

#contact-info  p a {
    font-size: 1.3rem;
    font-weight: 900;
    color: var(--main-white);
    transition: padding-top 1s ease-in, color 2s;


}


.commentaries {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
}

.commentaries p {
    width: 40%;
}








